#### **Removed all numbers in excel from csv**

In [1]:
import pandas as pd

df_master = pd.read_excel("C:/Users/sinha/Desktop/Inter SU/cleaned_data_SU_filtered.xlsx")
df_lms = pd.read_csv("C:/Users/sinha/Downloads/LMS.csv")

df_master['Mobile'] = df_master['Mobile'].astype(str).str.strip()
df_lms['MOBILE'] = df_lms['MOBILE'].astype(str).str.strip()

df_cleaned = df_master[~df_master['Mobile'].isin(df_lms['MOBILE'])]

df_cleaned.to_excel("C:/Users/sinha/Downloads/Master_Cleaned_final.xlsx", index=False)

***Importing File***

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("C:/Users/sinha/Desktop/Inter SU/Sharda all data combined - Copy.xlsx")
df_csv = pd.read_csv("C:/Users/sinha/Downloads/LMS.csv")
print(f"{df.shape} and {df_csv.shape}")

(22204, 5) and (186012, 1)

**Removing Same entries**

In [3]:
original_count = len(df)
print(original_count)
df = df.drop_duplicates()

22204

In [4]:
removed_count = original_count - len(df)
print(f"Current count: {len(df)}, Duplicates removed: {removed_count}")

Current count: 22028, Duplicates removed: 176

**Removing duplicates based same Mobile AND Email**

In [5]:
df = df.drop_duplicates(subset=['Mobile', 'Email'])
removed_count = original_count - len(df)
print(f"Duplicates removed: {removed_count}")

Duplicates removed: 340

**Converting wrong input in Name**

In [6]:
original_names = df['Name'].copy()
df['Name'] = df['Name'].str.replace(r'^[^a-zA-Z]+', '', regex=True)
changed_rows = original_names != df['Name']
changed_count = changed_rows.sum()
df = df[~changed_rows]
print(changed_count)

44

**Removing empty space along with data with no Name**

In [7]:
df = df[df['Name'].str.strip() != '']

**Exporting Excel**

In [11]:
df.to_excel(r"C:\Users\sinha\Documents\cleaned_data_SU.xlsx", index=False)

In [10]:
modified_count = original_count - len(df)
modified_count

384

**Removing from another file**

In [11]:
df_csv.head()

       MOBILE
0  9198977371
1  9701539404
2  9491221734
3  9068831104
4  9669470626

In [12]:
df_filtered = df[~df['Mobile'].isin(df_csv['MOBILE'])]
df_filtered

,Name,Email,Mobile,User city,Exhibition city
0,Kapil,kapilsharma8517@gmail.com,8278629468,Dholpur,Jaipur
1,Mahendra Singh,mahendra.ranavat@walsonshealthcare.com,9871143664,Delhi,Jaipur
2,Bhumika acharya,avinashacharya2111@gmail.com,7849869718,Jaisalmer,Jaipur
3,Ritik Pal,palritik437@gmail.com,8273743578,Muzaffarnagar,Jaipur
4,Bhartendu Faujdar,pilani1970@gmail.com,9530478847,Pilani,Jaipur
...,...,...,...,...,...
22194,Monika Koshwa,monikakoshwa@gmail.com,6398624591,East Delhi,Delhi
22195,Suraj Baghel,sb9578661@gmail.com,9238359291,Noida,Delhi
22196,Mehal,mdmelal577@gmail.com,7757826028,South Delhi,Delhi
22197,Anojyadav,yadavsumase@gmail.com,9183750443,Ghaziabad,Delhi
22198,Ateeq Ahmed,ateeqahmed6344@gmail.com,9811974177,South Delhi,Delhi

In [13]:
original_count - len(df_filtered)

384

**Final export**

In [14]:
df_filtered.to_excel(r"C:\Users\sinha\Documents\cleaned_data_SU_filtered.xlsx", index=False)

## Sending Emails

In [3]:
import pandas as pd
import smtplib
from email.message import EmailMessage

# Load contacts from Excel
df = pd.read_excel('C:/Users/sinha/Desktop/Inter SU/email_testing.xlsx')

# Email login info
your_email = "admissions@sharda.ac.in"
your_password = "lqrxnfwauttgvsbq"

# Create SMTP session
server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()
server.login(your_email, your_password)

# Loop through contacts and send email
for index, row in df.iterrows():
    name = row['Name']
    to_email = row['Email']
    
    msg = EmailMessage()
    msg['Subject'] = "Limited CUET - PG Scholarships at Sharda University, Apply Now!"
    msg['From'] = your_email
    msg['To'] = to_email

    html_content = f"""
    <html>
        <body>
            <p>Dear {name},</p>
            <p>
                Sharda University is offering up to <strong>100% Scholarship</strong> based on your PG - CUET score.
            </p>
            <p>
                <strong>Please Note:</strong> Scholarships are limited to the first 300 applicants and offered on a first come, first served basis.
            </p>
            <p>
                Time is running out. <strong>Act Fast</strong> to apply now and complete your application today.
            </p>
            <p>
                For any assistance, feel free to call us at <a href="tel:01204570000">0120-4570000</a>
            </p>
            <p>
                <a href="https://admissions.sharda.ac.in/" target="_blank">Click here to complete your application</a>
            </p>
            <br>
            <p>
                Warm regards,<br>
                Admissions Office<br>
                Sharda University<br>
                <a href="https://www.sharda.ac.in">www.sharda.ac.in</a><br>
                📧 <a href="mailto:admission@sharda.ac.in">admission@sharda.ac.in</a><br>
                📞 0120-4570000
            </p>
        </body>
    </html>
    """

    msg.add_alternative(html_content, subtype='html')

    server.send_message(msg)

# Close connection
server.quit()

(221,
 b'2.0.0 closing connection 98e67ed59e1d1-30f365e5c0dsm8379632a91.36 - gsmtp')

In [4]:
import pandas as pd
import smtplib
from email.message import EmailMessage
import requests

# Load contacts
df = pd.read_excel('C:/Users/sinha/Desktop/Inter SU/email_testing.xlsx')

# Email login
your_email = "admissions@sharda.ac.in"
your_password = "lqrxnfwauttgvsbq"

# Get HTML from web server
html_url = "https://admissions.sharda.ac.in/emailer/2024/mission-shakti/pay-now2/index.html"
html_response = requests.get(html_url)
html_content = html_response.text

# Start SMTP
server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()
server.login(your_email, your_password)

# Loop through contacts
for _, row in df.iterrows():
    name = row['Name']
    to_email = row['Email']

    # Personalize HTML (optional)
    personalized_html = html_content.replace("{{name}}", name)

    # Create message
    msg = EmailMessage()
    msg['Subject'] = "Limited CUET PG Scholarships – Apply Now!"
    msg['From'] = your_email
    msg['To'] = to_email
    msg.add_alternative(personalized_html, subtype='html')

    server.send_message(msg)

server.quit()

(221,
 b'2.0.0 closing connection d9443c01a7336-2341c34f25dsm5777415ad.162 - gsmtp')

### Scheduled dates (after 2 days for 2 times)

In [9]:
import pandas as pd
import smtplib
from email.message import EmailMessage
import requests
from datetime import datetime, timedelta
import os
import json

# File paths
excel_file = 'C:/Users/sinha/Desktop/Inter SU/email_testing.xlsx'
log_file = 'C:/Users/sinha/Desktop/Inter SU/sent_log.csv'

# Email credentials
your_email = "admissions@sharda.ac.in"
your_password = "lqrxnfwauttgvsbq"  # Use an app password

# Email schedule: day offset from initial send
schedule = {
    "Intro": 0,
    "Reminder": 1,
    "FinalCall": 2,
}

# Templates hosted online
email_templates = {
    "Intro": "https://admissions.sharda.ac.in/emailer/2024/mission-shakti/pay-now2/index.html",
    "Reminder": "https://admissions.sharda.ac.in/emailer/2024/mission-shakti/pay-now2/index.html",
    "FinalCall": "https://admissions.sharda.ac.in/emailer/2024/mission-shakti/pay-now2/index.html"
}

# STEP 1: Load Excel
df = pd.read_excel(excel_file)

# STEP 2: Load or Create Send Log
if os.path.exists(log_file):
    sent_log = pd.read_csv(log_file)
    sent_log['FirstSentDate'] = pd.to_datetime(sent_log['FirstSentDate'])
    if 'SentEmails' not in sent_log.columns:
        sent_log['SentEmails'] = ''
else:
    sent_log = pd.DataFrame(columns=['Email', 'FirstSentDate', 'SentEmails'])

# STEP 3: Setup Email Server
server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()
server.login(your_email, your_password)

# STEP 4: Today's Date
today = pd.Timestamp(datetime.now().date())

# STEP 5: Loop through contacts
for _, row in df.iterrows():
    name = row['Name']
    to_email = row['Email']

    if to_email in sent_log['Email'].values:
        idx = sent_log.index[sent_log['Email'] == to_email][0]
        start_date = pd.Timestamp(sent_log.at[idx, 'FirstSentDate'])
        sent_emails = sent_log.at[idx, 'SentEmails']
        if pd.isna(sent_emails) or sent_emails == '':
            sent_emails_dict = {}
        else:
            sent_emails_dict = json.loads(sent_emails)
    else:
        start_date = today
        sent_emails_dict = {}
        sent_log = pd.concat(
            [sent_log, pd.DataFrame([{'Email': to_email, 'FirstSentDate': start_date, 'SentEmails': ''}])],
            ignore_index=True
        )
        idx = sent_log.index[sent_log['Email'] == to_email][0]

    for email_type, offset in schedule.items():
        send_date = start_date + timedelta(days=offset)
        if send_date == today:
            if sent_emails_dict.get(email_type) == str(today.date()):
                print(f"Already sent {email_type} to {to_email} today, skipping.")
                continue
            try:
                html_url = email_templates[email_type]
                html_content = requests.get(html_url).text
                html_personalized = html_content.replace("{{name}}", name)

                msg = EmailMessage()
                msg['Subject'] = f"{email_type} – CUET PG Scholarships"
                msg['From'] = your_email
                msg['To'] = to_email
                msg.add_alternative(html_personalized, subtype='html')

                server.send_message(msg)
                print(f"Sent {email_type} to {to_email}")

                sent_emails_dict[email_type] = str(today.date())
                sent_log.at[idx, 'SentEmails'] = json.dumps(sent_emails_dict)

            except Exception as e:
                print(f"❌ Failed to send {email_type} to {to_email}: {e}")

# STEP 6: Save Log
sent_log.to_csv(log_file, index=False)

# STEP 7: Close Server
server.quit()

Already sent Intro to ashok.kumar5@sharda.ac.in today, skipping.
Already sent Intro to ajeet.kumar5@sharda.ac.in today, skipping.
Already sent Intro to ajeetkumar084@gmail.com today, skipping.
Already sent Intro to 2022534811.aman@ug.sharda.ac.in today, skipping.

(221,
 b'2.0.0 closing connection 98e67ed59e1d1-30f364907dfsm8575604a91.23 - gsmtp')